{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"> 
  <link rel="stylesheet" type="text/css" href="/static/main/css/style.css">
  <title>Django Calendar App</title>
   
</head>

<body>
   <div class=wrap>
    <header class=header>
        <div id="title">S.saw</div> 
   </header>

    <div class=clear></div>

    <section>
      <div class=menu>
         <nav id=navmenu>
            <ul>
               <li><a href="#">검색</a></li>
               <li><a href="#">캘린더</a></li>
               <li><a href="#">감정분석</a></li>
               <li><a href="#">콘텐츠추천</a></li>
            </ul>
         </nav>
      </div>
      <div class=content>
         <div class=nextprev>
         <div class="toggle">
            <div class="prev"><a  href="{% url 'main:calendar' %}?{{ prev_month }}"> << </a></div>
            <div class="sub_title">Emotion Calendar</div>
            <div class="next"><a   href="{% url 'main:calendar' %}?{{ next_month }}"> >> </a></div>
         </div>
         </div>
         <div class=clear></div>
         {{ calendar }}
         </table>

      </div>
   </section>
   
    <div class=clear></div>
   
   <footer>
        <h6 id="menu">ⓒ 2021 | S.Saws_ai_project</h6>
      <marquee direction=up width=600>김신영 | 류현석 | 탁은영  | 박유민</marquee>
   </footer>
   </div>

</body>
</html>