<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>analysis</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div>
        <h4>{{request.user.username}}님의 감정분석을 진행하고 있습니다.</h4>
    </div>
    {% endif %}
    {% if co == 1  %}
    <div>
        <button type="button" class="btn btn-primary btn-lg btn-block" 
            onclick="location.href='/main/calendar/'">결과화면</button>
    </div>
    {% endif %}
</body>
</html>